<div class="prompt">
    <div class="heading-wrapper">
        <span class="bold">Generated Feedback Template Links</span>
    </div>
    <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" class="generated-link-table mat-elevation-z1">
            <ng-container matColumnDef="serial">
                <th mat-header-cell *matHeaderCellDef>S.No.</th>
                <td mat-cell *matCellDef="let generatedLink; let i = index;">
                    {{i+1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="entityId">
                <th mat-header-cell *matHeaderCellDef>Entity ID</th>
                <td mat-cell *matCellDef="let generatedLink; let i = index;">
                    {{generatedLink.entityId}}
                </td>
            </ng-container>
            <ng-container matColumnDef="entityName">
                <th mat-header-cell *matHeaderCellDef>Entity Name</th>
                <td mat-cell *matCellDef="let generatedLink; let i = index;">
                    {{generatedLink.entityName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>Generated Link</th>
                <td mat-cell *matCellDef="let generatedLink; let i = index;">
                    <div class="link-wrapper">
                        <span>{{generatedLink.link.slice(0, 15)}}...</span>
                        <img src="../../../assets/copy-icon.svg" alt="copy" matTooltip="Copy Link" class="copy-img" [cdkCopyToClipboard]="generatedLink.link">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Created On</th>
                <td mat-cell *matCellDef="let generatedLink; let i = index;">
                    {{generatedLink.date}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let generatedLink; let i = index;">
                    <div class="action-wrapper">
                        <img src="../../../assets/delete-red.svg" alt="delete" class="action-img" matTooltip="Delete">
                    </div>
                </td>
            </ng-container> -->
        
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
    </div>
    <div *ngIf="!generatedFeedbackLinks">
        <app-no-data-available></app-no-data-available>
    </div>
</div>