.heading-wrapper{
    text-align: center;
    font-size: 1.25em;
    padding-block: 0.5em;
}
.table-wrapper{
    max-height: 70vh;
}
.generated-link-table{
    font-size: 0.9em;
}
th {
    background-color: #F1F3F6 !important;
}
.link-wrapper{
    display: flex;
    align-items: center;
}
.copy-img{
    height: 1em;
    margin-inline: 0.25em;
}
.action-img{
    height: 1.5em;
}
.action-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-paginator{
    width: 100%;
    margin-block: 5px;
    background-color: transparent;
}
.table-rows{
    height: 2.5em;
}
.table-header{
    height: 3em;
}