.top-section {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.25em;
    padding: 1.5em 1.5em 0 1.5em;
    margin-bottom: 1em;
}

.section-wrapper {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1em;
    padding: 1.5em 2.5em;
    margin-block: 1em;
}

mat-form-field {
    width: 100%;
}
.bm5{
    margin-bottom: 0.5em;
}
.foot-section {
    padding-block: 1em;
}

.add-question,
.remove-question {
    margin-bottom: 1em;
}

.pointer {
    cursor: pointer;
}

.float-r {
    float: right;
    margin-inline: 0.25em !important;
}

.qa-wrapper {
    display: flex;
    align-items: baseline;
}

.left-column {
    width: 20%;
}

.right-column {
    width: 80%;
    resize: none;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}
mat-expansion-panel{
    margin-block: 1em !important;
}
.option-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.option-field{
    height: 2em;
    padding: 0.25em;
    margin-bottom: 0.5em;
    font-family: "Poppins", sans-serif !important;
}
.option-field-wrapper{
    display: flex;
    align-items: center;
}
.option-del-btn{
    margin-inline: 0.2em;
}
.option-add-btn{
    height: 2em;
    width: 2em;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0.5em;
    margin: 0 0.5em 0.5em 0.5em;
    line-height: 2.25em;
    padding: 0.25em;
    text-align: center;
    background-color: rgb(250, 250, 250);
}

@media screen and (max-width:550px) {
    .left-column {
        width: 30%;
    }
    
    .right-column {
        width: 70%;
    }
}