.circle{
    min-width: 2em;
    min-height: 2em;
    margin: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FC;
    border-radius: 50%;
}
.selected{
    background-color: #545BFC;
    color: white;
}
.wrapper{
    margin-block: 0.75em;
    display: flex;
}