<div class="wrapper">
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===1}">1</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===2}">2</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===3}">3</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===4}">4</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===5}">5</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===6}">6</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===7}">7</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===8}">8</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===9}">9</span>
    <span class="circle" [ngClass]="{'selected':receivedNumberRating===10}">10</span>
</div>