<div class="wrapper">
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===1}">1</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===2}">2</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===3}">3</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===4}">4</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===5}">5</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===6}">6</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===7}">7</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===8}">8</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===9}">9</div>
    <div class="circle" [ngClass]="{'selected':receivedNumberRating===10}">10</div>
</div>