@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
$app-primary-color: #304FFE;

html, body{
    height: 100%;
}
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.bold{
    font-weight: bold;
}
.grey{
    color: rgb(100, 100, 100);
}
.primary-background{
    background-color: $app-primary-color !important;
}
.primary-color{
    color: $app-primary-color !important;
}
.warn-color{
    color: red;
}
.text-white{
    color: white;
}
.dense-1 {
  @include mat.all-component-densities(-1);
}
.dense-2 {
  @include mat.all-component-densities(-2);
}
